
<div class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>
    <h2 class="superTitle"><strong>DOMINIO y RANGO</strong></h2>
    <div class="note">
          
    <p class="">Para ayudarse a reconocer el dominio, puede tratar de imaginarse un muñeco que va caminando por el
       eje x y mira hacia arriba y hacia abajo.
       Si en un punto no ve curva, ese punto no esta sobre el dominio. Si ve curva desde el punto, el punto pertenece al
       dominio. Para el rango ponga a caminar
       el muñeco por el eje y. Y que mire a la izquierda y a la derecha. Si desde el punto ve curva es que está parado
       sobre un punto del rango, si no
       ve es que el punto no pertenece al rango.</p>
    </div>
    
    <div id="mainOwner">
    </div>
 
       
 </div>
    <template id="template">
 
       <div class="content_1">
          <div class="content_2">
          </div>
       </div>
 
       <div class="newContent"> </div>
    </template>