<!-- <nav class="mb-5 border-bottom border-dark ">
    <p class="navbar-brand font-italic text-break">
        Estudio de Curvas
    </p>
</nav> -->

<style>
    @media only screen and (max-width: 350px) {
        .board-validation-curves {
            width: 250px;
        }
    }
</style>
<div id="" class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>
    <p class="infoText">
        Complete con una curva que cumpla las especificaciones. Cuando no se especifica donde es creciente o <br>
        positiva o acotada... se sobreentenderá que es sobre todo el dominio.
    </p>
    <div id="container" style="max-width: 1050px;">
        <div class="d-flex flex-wrap">
            <div class="defBoard" data-artifact="artifact_1"></div>
            <div class="defBoard" data-artifact="artifact_2"></div>
            <div class="defBoard" data-artifact="artifact_3"></div>
            <div class="defBoard" data-artifact="artifact_4"></div>
            <div class="defBoard" data-artifact="artifact_5"></div>
            <div class="defBoard" data-artifact="artifact_6"></div>
        </div>
    </div>


    <h3 class="titleInfo"><b> Notación.</b></h3>
    <p class="infoText">
        Si una curva tiene por nombre la letra <span class="expression">ƒ</span>, su altura
        en
        <span class="expression">a</span> se denotará con <span class="expression">ƒ(a)</span>. Ejemplos: <br>
        <span class="expression">g(3)</span> denota la altura de <span class="expression">g</span> en 3 <br>
        La expresión simbólica <span class="expression">ƒ( x ) > 0 </span> significa que la
        altura de la curva <span class="expression">ƒ</span> en <span class="expression">x</span> es positiva.
    </p>
</div>