
<style>
   .exampleElement{
      margin-top:50px;
      margin-bottom: 50px;
      background-color: #ecf3f3;
      border: 3px solid #9ae5e7;
      display: flex;
    
      flex-direction: row-reverse;
      margin-left: 0;
      justify-content:space-around;
      box-sizing: border-box;
      flex-wrap: wrap;
      align-items: center;
      border-radius: .2rem;
      padding: 10px;
   }
   .elementBoard{

      width: 50%;
     
   }
   .defBoard{
      width: 100% !important;
      height: 500px !important;
   }
   .elementCards{
      width: 40%;
      
   }
   @media only screen and (max-width: 800px) {
      .exampleElement{
         border: 0;
         flex-direction: column;
         justify-content: center !important;
         gap: 10px;
         margin: auto;
      }
      .elementBoard{
      
      width: 100% ;
   }
   .defBoard{
      
      height: 300px !important;
   }
   .elementCards{
      width: 100%;
      
   }
   }
</style>


<div class="containerNormal background-gray">
   <h3>Estudio de Curvas</h3>
   <hr>

   <h2 class="superTitle"> MÁXIMOS Y MÍNIMOS</h2>


  
   <div class="exampleElement">
 
         <div class="elementBoard">
            <div id="" class="defBoard jxgbox " data-board="board_8"></div>
         </div>
     
  
      <div class="elementCards">
         <div class="cardInfo">
            <p>
               <span class="title">Máximo Absoluto o global: </span > La mayor altura alcanzada por la curva &nbsp &nbsp &nbsp
            </p>
         </div>
         <div class="middleContainer cardInfo">
            <p>
               <span class="title" >Mínimo Absoluto o global: </span > La menor altura alcanzada por la curva &nbsp &nbsp &nbsp
            </p>
         </div>
         <div class=" middleContainer cardInfo">
            <p>
               <span  class="title" >Máximo relativo o local:</span > La mayor altura alcanzada en la inter-sección <br> de un
               intervalo abierto con el dominio de la curva
            </p>
         </div>
         <div class=" middleContainer cardInfo ">
            <p class="">
               <span class="title">Mínimo relativo o local:</span > La menor altura alcanzada en la inter-sección <br> de un
               intervalo abierto con el dominio de la curva
            </p>
         </div>
      </div>
  
   </div>
   
   <hr>

   <h3> Complete de acuerdo a la figura y las definiciones que se acaban de dar</h3>
   <div class="col-12 col-md-10 col-lg-10 col-xl-10 d-flex justify-content-center">
      <p class="">
         <br>
      </p>
   </div>
   <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
      <p class="">
         <math>
            <msub>
               <mi>M</mi>
               <mn>1</mn>
            </msub>
         </math> es el mínimo global. Es alcanzado en <math>
            <msub>
               <mi>x</mi>
               <mn>5</mn>
            </msub>
         </math>. <br>
      </p>

   </div>


   <div class="d-flex justify-content-center">

      <div id="oneContainer"> </div>

   </div>
   <template id="template">
      <div class="content_1">
         <div class="content_2">
         </div>
      </div>
   </template>
   <div id="mainOwner"></div>



      
         <div class="note"> 
            <p class=" ">

               Cómo reconocer dónde "hay<strong> máximo relativo</strong>": para llegar a él
               por
               la izquierda, el muñeco no baja.
               Para Alejarse de él, hacia la derecha, el muñeco no sube. Si "inmediatamente a la izquierda" del punto
               no hay curva, para decidir si "hay máximo relativo" se ve qué pasa al alejarse de él hacia la
               derecha. Si "inmediatamente a la derecha" del punto no hay curva, se ve qué pasa al acercarse a él
               por la izquierda. <br>
               Piense en cómo reconocer que en un punto "hay mínimo local o relativo" <br>
               Si el punto corresponde a un <strong>valor aislado del dominio</strong>, es decir existe un intervalo
               abierto tal que su intersección con el dominio es sólo ese valor (la abcisa del punto), en el punto
               "hay máximo y mínimo relativo".
            </p>
         </div>
   
      
   </div>
</div>
</div>

<template id="globalTemplate">
   <div id="artifact-container"
      class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
      <div id="content" class="question__content__table">
      </div>
      <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
         <div class="d-flex flex-row">
            <div class="d-flex flex-wrap justify-content-start "></div>
            <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"
               title="Reiniciar"></button>
            <button class="check button-marg buttonPrimary buttonKey question__footer__check"
               title="Validar"></button>

         </div>
      </div>

   </div>

</template>

<style>
   .question {
      max-width: 1000px !important;
      max-height: 500px !important;
      width: 100% !important;
      max-height: 800px !important;
      height: 100% !important;
   }

   #oneContainer {
      max-width: 1000px;
      width: 100% !important;
      height: 100% !important;
   }

   tr {
      height: 70px;
   }

   thead tr {
      height: 0px;
   }
</style>
