

<style> 
   .artCotes,
   .board-validation-curves{
      width: 400px;
   }
      .artCotes {
         width: 300px !important;
      }

      .textElement {
         margin: 10px;
         padding: 5px;
      }

      #globalContainer {
       
         width: 100%;
         padding: 10px;
         border: none;
         justify-content: flex-start;

         display: flex;
         flex-wrap: wrap;
      }

      /* #oneContainer,
      #secondContainer {
         min-width: 200px;
         width: 45%;

         margin: 5px;
         padding: 10px;
         border-radius: 1px;

         background-color: #fff;
         letter-spacing: 1px;
      } */

      /* #artifact-container {
         width: 100%;
         border: none !important
      }

      #radioContainer,
      #selectq {
         margin-top: 20px;
         width: 100% !important;
      }

      #artifact-container {
         min-width: 200px;
      } */

      .exType1 {

         padding-top: 10px;
         text-align: center;
         margin: 10px;
         border-radius: .2rem;
         
         justify-content: center;
         transition: transform .2s;
         max-width: 400px;
         
         display: flex;
         justify-content: center;
         padding-left: 40px;
         padding-right: 40px;

         outline: 1px solid #000;
      }

      .boardsExamples {

         display: flex;
         justify-content: center;
        
         width: 82%;
         margin: auto;
         border-radius: .2rem;
         flex-wrap: wrap;
      }
      .artCotes{
         border: 1ps solid black !important;
      }
      .exType1:hover {
         transform: scale(1.01);
         outline-width: 2px;
      }
      .example{
         width: 100%;
      }
      .title,
      label {
         display: block;
         margin-bottom: 16px;
      }

      @media only screen and (max-width: 700px) {

         #oneContainer,
         #secondContainer {
            width: 95%;
         }

         .title,
         label {
            font-size: 16px;
            font-weight: 700;
         }
         .example{
            border-left: none ;
            border-right: none;
            border-radius: 0;
            border-width: 2px;
         }

      }

      @media only screen and (max-width: 400px){
         label,.title{
            font-size: 10px;
         }
         .exType1{
            padding: 10px;
            display: flex;
            width: 250px;
            justify-content: center;
            justify-content: center;
         }
    .artCotes{
      width: 100% !important;
    }
      .board-validation-curves{
         width: 250px !important;
      }

      .artCotesSuper{
         width: 200px !important;
      }

      }


      .coteSpecial::after {
         color: #d65d06;
         content: "\2015";
         font-weight: bolder;
         font-size: 26px;
      }




   </style>

   
<div class="containerNormal background-gray">
   <h3> Estudio de Curvas</h3> 
   <hr>
   <h2 class="mb-5 font-weight-bold superTitle" >COTAS de CURVAS en INTERVALOS.</h2>
   <div class="container-fluid mt-5">

      <p></p>

      <div class="boardsExamples ">
         <!-- grafica1  -->
         <div class="exType1 example">
            <div>
               <h5 class="statement">Cota superior</h5>
               <div class="defBoard artCotes artCotesSuper" data-board="board_2"></div>
            </div>
         </div>

         <div class="exType1 example">

            <div>
               <h5 class="statement">Cota inferior</h5>
               <div class="defBoard artCotes artCotesSuper" data-board="board_3"></div>
            </div>
         </div>
      </div>


      <!-- 


      <div class="row justify-content-rigth m-0">
         <div
            class="col-12 offset col-1 col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-lg-4 offset-lg-2 col-xl-3 offset-xl-2 mt-2 m-0 px-0 border border-dark rounded image-table mr-3">
            /*col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3*/ 
            <div class="d-flex justify-content-center">
               <p class="mb-0"><strong>COTAS SUPERIORES</strong></p>
            </div>
            <div class="d-flex justify-content-center">
               <div class="defBoard" data-artifact="artifact_1"></div>
            </div>
            </div>
         </div>

         <div
            class="col-12 offset col-1 col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-lg-4 offset-lg-2 col-xl-3 offset-xl-2  mt-2 m-0 px-0 border border-dark rounded image-table mr-3">
            <div class="d-flex justify-content-center">
               <p class="mb-0"><strong>COTAS INFERIORES</strong></p>
            </div>
            <div class="d-flex justify-content-center">
               <div class="defBoard" data-artifact="artifact_2"></div>

            </div>
         </div> -->
   </div>

   <p><strong>Cota superior de f en el intervalo [a,b]</strong> Es un número que no es superado (aunque pude ser alcanzado), por ninguna de las alturas de f en [a,b].</p>
   <p><strong>Cota inferior de f en el intervalo [a,b]</strong> Es un número tal que no hay altura de f en [a,b] que sea menor que él.</p><br>
   <p class="infoText"> 
      Observe cuidadosamente las dos figuras anteriores para responder las preguntas que siguen.<br>
   </p>
   
   <div id="globalContainer" class="d-flex justify-content-center ">
      <div id="oneContainer">

      </div>

      <div id="secondContainer">

      </div>

   </div>


<hr>

   <div class="d-flex flex-wrap boardsExamples">
      <!-- grafica1  -->
      <div class="example1 exType1">
         <div class="">
            <h5 class="statement">No es cota, ni inferior ni superior, de f en [a,b]</h5>
            <div class="defBoard artCotes" data-artifact="artifact_3"></div>
         </div>
      </div>

      <!-- grafica2  -->
      <div class="example2 exType1">
         <div>
            <h5 class="statement">Es la menor cota superior de f en [a,b]</h5>
            <div class="defBoard artCotes" data-artifact="artifact_4"></div>
         </div>

      </div>
      <div class="example3 exType1">
         <div>
            <h5 class="statement">Es la mayor cota inferior de f en [a,b]</h5>
            <div class="defBoard artCotes" data-artifact="artifact_5"></div>
         </div>

      </div>
   </div>



   <!--templates-->
   <template id="tmp-way">

      <div id="artifact-" class="etwArtifact big2-board">

         <div class="etwArtifact__title"></div>
         <div class="etwArtifact__Board  etwBoard jxgbox" data-board="board_" data-artifact="artifact_">
         </div>

         <div class="etwArtifact__elements">
         </div>

         <div class="etwArtifact__btnContainer btn-all">
            <div>
               <button class="help help-btn button-marg buttonSecundary buttonKey d-none"></button>
               <button class=" reset button-marg buttonSecundary buttonKey"></button>
               <button class=" etwArtifact__btnValidate check button-marg buttonPrimary buttonKey"></button>
            </div>
         </div>
      </div>

   </template>


   <template id="globalTemplate">
      <div id="artifact-container"class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
         <div id="content" class="question__content">
         </div>
         <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
            <div class="d-flex flex-row" >
               <div class="d-flex flex-wrap justify-content-start " ></div>
               <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"  title="Reiniciar"></button>
               <button class="check button-marg buttonPrimary buttonKey question__footer__check" title="Validar"></button>

            </div>
         </div>

      </div>

   </template>

   <template id="cardCol">
      <div class="col-6">

      </div>
      <div>

      </div>

   </template>

   <template id="templateSelect">
      <div class='' id="selectq">
         <div class="">
            <label for="opciones"></label>
         </div>
         <div class="">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:fit-content">
         </div>
         </select>
      </div>
   </template>
   <template id="templateCheck">

      <div class="" id="radioContainer">
         <div class="title ">
         </div>
         <div class="content  ">
         </div>
      </div>
   </template>
   <template id="templateInput">
      <div class="row">
         <div id="title" class=""></div>
         <div id="content" class=""></div>
      </div>
      
   </template>
   <!--Do no touch-->

   </div>
   <!-- templates-->
   <div class="d-flex justify-content-center flex-column">
      <div id="mainOwner" class="d-flaex flex-wrap justify-content-center" style="max-width: 1500px; margin: 0;"> </div>
      <div id="grid" class="d-flex flex-wrap justify-content-center" style="max-width: 1500px; margin: 0;">
      </div>
      <template id="template">
         <div class="content_1">
            <div class="content_2"> 
            </div>
         </div>
      </template>
   </div>
</div>