<!-- <nav class="mb-5 border-bottom border-dark ">
   <div class="d-flex justify-content-between">
      <p class="navbar-brand font-italic text-break">
         Estudio de Curvas
      </p>
   </div>
</nav> -->
<style>
   @media only screen and (max-width: 350px) {
      .short-board {
         width: 250px !important;
         height: 200px;

      }
   }
</style>

<div id="" class="containerNormal background-gray">
   <h3>Estudio de Curvas</h3>
   <hr>
 <div class="d-flex justify-content-center flex-column"> 

   <div id="mainOwner" class="d-flex flex-wrap justify-content-center">

   </div>

   <div id="grid" class="d-flex flex-wrap justify-content-center" style="max-width: 1200px; margin: 0;">

   </div>

   <template id="template">
      <div class="content_1">
         <div class="content_2">

         </div>
      </div>
   <div class="newContent"> </div>
   </template>
 </div>
</div>