<!-- <nav class="mb-5 border-bottom border-dark ">
    <p class="navbar-brand font-italic text-break">
        Estudio de Curvas
    </p>
    <p>Complete cada recuadro con una curva f conexa que cumpla con las tres condiciones señaladas.</p>
</nav> -->
<style>
    @media only screen and (max-width: 350px) {
        .board-validation-curves {
            width: 250px;
        }
    }
</style>

<div id="" class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>
    <p class="infoText">Complete cada recuadro con una curva <span class="expression">ƒ</span>
        conexa que cumpla con las tres condiciones señaladas.
    </p>

    <div id="container" style="max-width: 1050px;">
        <div class="d-flex flex-wrap justify-content-center">
            <!--Contenedores de los boards-->
            <div class="defBoard" data-artifact="artifact_1"></div>
            <div class="defBoard" data-artifact="artifact_2"></div>
            <div class="defBoard" data-artifact="artifact_3"></div>
            <div class="defBoard" data-artifact="artifact_4"></div>
            <div class="defBoard" data-artifact="artifact_5"></div>
            <div class="defBoard" data-artifact="artifact_6"></div>
            <div class="defBoard" data-artifact="artifact_7"></div>
            <div class="defBoard" data-artifact="artifact_8"></div>
            <div class="defBoard" data-artifact="artifact_9"></div>
            <div class="defBoard" data-artifact="artifact_10"></div>
            <div class="defBoard" data-artifact="artifact_11"></div>
            <div class="defBoard" data-artifact="artifact_12"></div>
        </div>
    </div>
</div>