
<script>
    function addParameters() {
       console.log(window.location.search);
       if (!window.location.search.includes("?cap=1&pag=4")) {
          window.location.search += '?cap=1&pag=4';
       };
    }
 </script>

 <div class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>
    <div id="mainOwner">
       <div class="note">
          <p>Para determinar la parte positiva primero se ubican el o los trozos de curva que están por encima del eje x y luego se determinan sobre cual o cuales intervalos del eje x estan esos trozos</p>
       </div>
    </div>

 </div>


 <template id="template">

    <div class="content_1">
       <div class="content_2">
       </div>
    </div>

    <div class="newContent"> </div>
 </template>

