
<style>
       
   @media only screen and (max-width: 320px){
      .contentArtefact{
         width: 250px;
      }

      .short-board{
         width: 100% !important;
      }
   }
</style>


<div class="containerNormal background-gray">

<h3>Estudio de Curvas</h3>
<hr>
<div class="d-flex justify-content-center flex-column">

   <div id="mainOwner" class="d-flex flex-wrap justify-content-center">

   </div>

   <div id="grid" class="d-flex flex-wrap justify-content-center" >

   </div>
</div>
   <template id="template">
      <div class="content_1">
         <div class="content_2">

         </div>
      </div>
   </template>

</div>
