
<body onload="agregarParametro()">
   <script>
      function agregarParametro() {
         console.log(window.location.search);
         if (!window.location.search.includes("?cap=1&pag=8")) {
            window.location.search += '?cap=1&pag=8';
         };
      }
   </script>

<!--
   <nav class="mb-5 border-bottom border-dark ">
      <div class="d-flex justify-content-between">
         <p class="navbar-brand font-italic text-break">
            Estudio de Curvas
         </p>
      </div>
   </nav>
-->
   <style>
      .formElement{
         margin-top: 10px;
         border: 3px solid #e7e6e6;
      background-color: #fefefe;
         
      }
      .boardElement{
         width: 500px;
        
         display: block;
         margin: auto;
         display: flex;
         justify-content: center;
      }
  
      .containerCard{
         display: flex;
         padding: 0;
   
         margin-bottom: 50px;
         width: 45%;
         
      }

      .card{
         border: 1px solid #474747;
         height: max-content;
         width: 100%;
         box-sizing: border-box;
         border-radius: .3rem;
      }
      
      .card-body{
         padding-bottom: 0;
         margin-bottom:0 ;

      }
      .card-footer{
         margin: 0;

  
      }

      td div{
         font-weight: 700;
      }
      
   #artifact-container{
      width: 100%;
      background-color: #fefefe;
      border-radius: .2rem;
      letter-spacing: 1px;
   }
@media only screen and (max-width: 900px){
   .boardElement{
      width: 300px;
   }
      .containerCard{
         width: 90% !important; 
         font-size: 16px;
      }
      .containerNormal{
         justify-content: center;
      }

      .toValidate{
         margin: 0;
      }
}

@media only screen and (max-width: 400px){
   label{
      font-size: 10px;
   }
   .boardElement{
      width: 200px;
   }
   .containerCard{
         width: 100% !important; 
         padding: 0;
         margin: 0;
         margin-bottom: 50px;
        text-align: left;
      }
   td{
      width: 1px;
      text-align: left;
   
   }
   tr{
 
      
   }

   
}

@media only screen and (max-width: 310px){
      .card{
         overflow: hidden;
         box-sizing: border-box;
         padding: 10px;
      }
      tr{
         opacity: 1;
      }
     
      #content {
      width: 250px !important;
      overflow-x: scroll;
      font-size: 10px;
      
   }
      #artifact-container{
         background-color: #fff; 
         letter-spacing: normal;
          }
}

   </style>
   <template id="globalTemplate">
      
      <div id="artifact-container" class="  flex-wrap justify-content rounded btn-all artifact-container">
         <div id="content" class="">

         </div>
         <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all mb-3">
            <div class="d-flex flex-row">
               <div class="d-flex flex-wrap justify-content-start"></div>

               <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
               <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>

            </div>
         </div>

      </div>

   </template>


   <template id="templateSelect">
      <div class='' id="selectq">
         <div class="">
            <label for="opciones"></label>
         </div>
         <div class="">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:fit-content">
         </div>
         </select>
      </div>
   </template>
   <template id="templateCheck">

      <div class="" id="radioContainer">
         <div class="title ">
         </div>
         <div class="content  ">
         </div>
      </div>
   </template>
   <template id="templateInput">
      <div class="row">
         <div id="title" class=""></div>
         <div id="content" class=""></div>
      </div>
      
   </template>

   <div id="mainOwner" style = 'margin: 0;'>
   </div>

   <template id="globalTemplate">
      <div id="artifact-container"class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
         <div id="content" class="question__content">
         </div>
         <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
            <div class="d-flex flex-row" >
               <div class="d-flex flex-wrap justify-content-start " ></div>
               <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"  title="Reiniciar"></button>
               <button class="check button-marg buttonPrimary buttonKey question__footer__check" title="Validar"></button>

            </div>
         </div>

      </div>

   </template>



   <div class="containerNormal background-gray ">
   <h3>Estudio de Curvas</h3>
   <hr>
     

   <div class="flexGrid">



   

   <div class="containerCard ">


      <div class="card" id="artifact_1" >
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_4" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            
            <div id="ejemplo1" class="d-flex justify-content-center ">
            </div>
         </div>
      </div>

   </div>


   <div class="containerCard">
      
      <div class="card" id="artifact_2">
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_5" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            <div id="ejemplo2" class="d-flex justify-content-center">
            </div>
         </div>
      </div>

   </div>





   <div class="containerCard">

      <div class="card" id="artifact_3">
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_6" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            <div id="ejemplo3" class="d-flex justify-content-center">
            </div>
         </div>
      </div>
   </div>


   <div class="containerCard">

      <div class="card" id="artifact_4">
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_7" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            <div id="ejemplo4" class="d-flex justify-content-center">
            </div>
         </div>
      </div>
   </div>



   <div class="containerCard">

      <div class="card" id="artifact_5">
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_8" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            <div id="ejemplo5" class="d-flex justify-content-center">
            </div>
         </div>
      </div>


   </div>



   <div class="containerCard">


      <div class="card" id="artifact_6">
         <div class="card-body">
            <div class="d-flex justify-content-center ">
               <div class="defBoard test short-board margen-5 " data-board="board_9" id="boardDefault_0"></div>
            </div>
         </div>

         <div class="card-footer">
            <div id="ejemplo6" class="d-flex justify-content-center">
            </div>
         </div>
      </div>

   </div>


   <div class="d-flex justify-content-center ">

      <div id="ejemplo6"></div>
   </div>
<!-- ////////////////////////////// -->
</div>
  
   </div>


   </div>
</div>

   <template id="templateSelect">
      <div class='row flex-wrap mt-2 ' id="selectq">
         <div class=" col-lg-12 col-md-12 col-sm-12">
            <label for="opciones"></label>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12  d-flex justify-content-start" id="content">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:100%;max-width:90%;">
         </div>
         </select>
      </div>
   </template>




   <template id="template">
      <div class="content_1">
         <div class="content_2">
         </div>
      </div>
   </template>


   

   <div class="containerNormal background-gray"  style="">

        
      <div class="">
         <h3>Punto delicado</h3>
         <p class="infoText" > 
            Comprender que en un abierto puede no haber máximo (o mínimo) </p>
      </div>
   
      <div
         class=" boardElement d-flex border border-dark rounded image-table">
         <div id="" class="defBoard jxgbox m-2 med-board border-0 justify-content-center" data-board="board_11"></div>
      </div>



      <div class="formElement d-flex justify-content-center  ">

         <div id="preguntaFinal"></div>

      </div>

      </div>
   </div>
   <!-- 
:cap_1/:engineOwner,:cap_1/:boardDefault,:genericEngines/:keyBoard"      
    -->