
<style>
      

   @media only screen and (max-width: 350px)  {
      .board-validation-curves{
         width: 250px;
      }
      
    
   }
</style>

<div class="containerNormal background-gray">

   <h3>Estudio de Curvas</h3>
   <hr>
      <div class="infoText" style="">
         <p class="text-break" style="margin: 20px; max-width: 1346px;">
            La condición <span class="expression">&nbsp; a < ƒ(x)&nbsp;&nbsp;</span>, será interpretada
               como: "las alturas de <span class="expression">ƒ</span> , en todos los x del dominio de <span class="expression">ƒ</span> deben ser mayor que <span class="expression">a</span> " . La manera correcta de
               escribir esta condición es: <span class="operationContainer" style="padding-top: 1px;"> ∀x ∈ Dom(ƒ),a < ƒ(x)</span>. Al interpretar a < ƒ(x) de la manera que se acaba de
               indicar, se está asumiendo que la condición se debe cumplir <span class = 'operationContainer'>∀x ∈ Dom(ƒ) </span> </p>
      </div>

      <div class="titleInfo marginTop-2" >
         <p class="containerNormal ">
            Grafique en cada caso una curva ƒ que satisfaga las condiciones señaladas
         </p>
      </div>

      <div id=" container"  class="containerNormal" style="max-width: 1050px;">
         <div class="d-flex flex-wrap justify-content-center">
            <div class="defBoard" data-artifact="artifact_1"></div>
            <div class="defBoard" data-artifact="artifact_2"></div>
            <div class="defBoard" data-artifact="artifact_3"></div>
            <div class="defBoard" data-artifact="artifact_4"></div>
            <div class="defBoard" data-artifact="artifact_5"></div>
            <div class="defBoard" data-artifact="artifact_6"></div>
            <div class="defBoard" data-artifact="artifact_7"></div>
            <div class="defBoard" data-artifact="artifact_8"></div>
            <div class="defBoard" data-artifact="artifact_9"></div>
            <div class="defBoard" data-artifact="artifact_10"></div>
            <div class="defBoard" data-artifact="artifact_11"></div>
            <div class="defBoard" data-artifact="artifact_12"></div>

         </div>
      </div>

   </div>
</div>
