<h3 class="">Estudio de Curvas</h3>
<hr />

<div class="mainTop"></div>
<div class="generalbox">
  <div id="container">
    <div class="d-flex flex-wrap oneContainer" style="max-width: 970px"></div>
  </div>
</div>

<table class="tableMain">
  <tr>
    <td>
      <p class="column1"></p>
    </td>
    <td class="c1">
      <div
        class="switch defCurveBoard"
        data-destiny="oneContainer"
        data-from="c1"
        data-artifact="example"
      ></div>
    </td>
    <td class="c2">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c2"
        data-artifact="artifact_1"
      ></div>
    </td>
    <td class="c3">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c3"
        data-artifact="artifact_2"
      ></div>
    </td>
  </tr>
  <tr>
    <td>
      <p class="column2"></p>
    </td>
    <td class="c4">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c4"
        data-artifact="artifact_3"
      ></div>
    </td>
    <td class="c5">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c5"
        data-artifact="artifact_4"
      ></div>
    </td>
    <td class="c6">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c6"
        data-artifact="artifact_5"
      ></div>
    </td>
  </tr>
  <tr>
    <td>
      <p class="column3"></p>
    </td>
    <td class="c7">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c7"
        data-artifact="artifact_6"
      ></div>
    </td>
    <td class="c8">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c8"
        data-artifact="artifact_7"
      ></div>
    </td>
    <td class="c9">
      <div
        class="switch defBoard"
        data-destiny="oneContainer"
        data-from="c9"
        data-artifact="artifact_8"
      ></div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <p class="row1 text-center"></p>
    </td>
    <td>
      <p class="row2 text-center"></p>
    </td>
    <td>
      <p class="row3 text-center"></p>
    </td>
  </tr>
</table>
<div class="mainBottom"></div>
