
<style>
   .Element__tables{
      width: 100% !important; 
      display: flex;
      justify-content: center;

   }
*{
   box-sizing: border-box;
}

.questions{
display: flex !important;
justify-content: center !important;
}
math-field{
margin: 2px !important;
}

.excesice{
border: 2px solid rgb(100, 172, 255);
border-radius: .5rem;

margin-bottom: 50px;
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px;
}

.cont{
width: 100% !important;
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 20px;
}

.subcontainer{
   width: 95% !important;
   height: 250px !important;
   border: 1px solid #000 !important; 
   border-radius: .5rem;
}

#artifact-container{
   background-color: #fafafa;
   border: 1px solid #dee2e6 !important; 
   width: 100% !important;
   height: fit-content;
   border-radius: .2rem;
  
}
@media screen and (max-width: 700px) {

.Element__tables{
   width: 100%;
   display: flex;
   justify-content: center;

}

/*  .question__forms {
  width: 100% !important;
  margin: 0;
} */
.excesice{
   width: 100%;
}
}

@media screen and (max-width: 450px){

   #content{
      overflow: scroll;
   }
}

</style>


<div class="containerNormal background-gray">
   <h3>Estudio de Curvas</h3>
   <hr>
   <p class="infoText">
      Visualice y estudie la gráfica y posterior a eso, responda en la tabla, la información de las cotas de la curva en
      los intervalos establecidos.
   </p>
   <div id="mainOwner"></div>

   <div class="cont">
      <div class="artifact_1"></div>
      <div class="artifact_2"></div>
      <div class="artifact_3"></div>
      <div class="artifact_4"></div>
      <div class="artifact_5"></div>
      <div class="artifact_6"></div>
   </div>
</div>

   </template>
   <!-- template para operation curves -->
   <template id="tmp-SRP">
      <div id="artifacts" class="d-flex flex-column border-board-dark m-2 big4-board squares-div">

         <div class="defRoadBoard jxgbox mb-1 w-100 big4-board boardResp" data-board="board_0"
            data-artifact="artifact_1">

         </div>

         <div class="d-flex w-100 flex-wrap justify-content-center border border-dark rounded btn-all">
            <div class="d-flex flex-row">
               <div class="d-flex flex-column">
                  <div class="d-flex flex-wrap justify-content-center">

                     <button class="curve button-marg buttonTertiary buttonKey"
                        title="Crear curva con los puntos finales"></button>
                     <button class="pointClose button-marg buttonTertiary buttonKey"
                        title="Punto para la curva"></button>
                     <button class="btnAsymptotes button-marg buttonTertiary buttonKey" title="Asintota"></button>

                  </div>
                  <div class="d-flex flex-wrap">
                     <button class="help buttonSecundary button-marg  buttonKey" title="Ayuda"></button>
                     <button class="gear buttonSecundary button-marg  buttonKey"> </button>
                     <button class="infinite buttonSecundary button-marg  buttonKey"> </button>
                     <button class="back buttonSecundary button-marg  buttonKey" title="Retornar"></button>
                     <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
                     <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </template>


   <template id="tableTemplate">

      <table class="table table-bordered">

      </table>

   </template>
   <template id="simpleTemplateInput">
      <math-field style=" width:100%;">

      </math-field>

   </template>
   <template id="simpleTemplateSelect">
      <div>
         <select class="form-select form-control" name="opciones" id="opciones"
            style="max-width:100%; max-height:100%; border:none; ">
      </div>
      </select>
   </template>
   <template id="simpleTemplateRadio">
      <div class="form-check ml-3 mr-4 mt-1" style="display:inline-block !important; width:fit-content">
         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
         <label class="form-check-label " for="flexRadioDefault1">
            Test
         </label>
      </div>
   </template>



   <template id="tmp-config">
      <div
         class="centerFloat pr-1 pl-1 toggleDisplay divConfig d-flex flex-row justify-content-left align-items-center">
         <div class="configTop">
            <h5 style="margin-top: 10px; border-bottom: solid 2px black;">
               Configuraciones
            </h5>
            <button class="btnClose closed buttonKey button-marg"></button>
         </div>
         <ul>
            <li>
               <p>
                  Holgura de la curva
                  <input class="rangeConfig" min="0.0" max="1" step="0.1" ; orient="vertical" type="range" />
               </p>
            </li>
            <li>
               <p>
                  Color: <input class="colorConfig" type="color" name="" id="" />
               </p>
            </li>
         </ul>
      </div>
   </template>
   <!-- fin templates necesarios para opreration curves -->
   <!-- TEMPLATE PPREGUNTAS -->
   <template id="globalTemplate">

      <div id="artifact-container" class="  flex-wrap justify-content rounded btn-all artifact-container">
         <div id="content" class="">

         </div>
         <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all mb-3">
            <div class="d-flex flex-row">
               <div class="d-flex flex-wrap justify-content-start"></div>

               <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
               <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>

            </div>
         </div>

      </div>

   </template>

   <template id="cardCol">
      <div class="col-6">

      </div>
      <div>

      </div>

   </template>

   <template id="templateSelect">
      <div class='row flex-wrap mt-2' id="selectq">
         <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="opciones"></label>
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12  d-flex justify-content-start">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:fit-content">
         </div>
         </select>
      </div>
   </template>
   <template id="templateCheck">

      <div class=" row d-flex mt-4" id="radioContainer">
         <div class="title col-4 justify-content-start">

         </div>
         <div class="content col-6 justify-content-start">

         </div>
      </div>

   </template>
   <template id="templateInput">
      <div class="row">
         <div id="title" class="d-flex justify-content-start col-12 ">
         </div>
         <div id="content" class="d-flex justify-content-between col-12"></div>
      </div>
      </div>
   </template>
   <template id="template">
      <div class="content_1">
         <div class="content_2">
         </div>
      </div>
   </template>
