<div class="containerNormal background-gray"> 
  <h3> Estudio de Curvas</h3>
  <hr>
  <h2 class="superTitle"> PARTES CRECIENTES Y DECRECIENTES</h2>
  <div id="mainOwner">
     <div class="note">
        <p>
           Al desplazar un punto de izquierda a derecha sobre el eje x, si la curva "sube" se dice que la curva es creciente en esa parte del eje x. Si la curva "baja" se dice que es decreciente (en esa parte del eje x).
        </p>
     </div>
  </div>
</div>


<template id="template">

  <div class="content_1">
     <div class="content_2">
     </div>
  </div>

  <div class="newContent"> </div>
</template>

