<nav class="mb-5 border-bottom border-dark ">
    <div class="d-flex justify-content-between">
        <p class="navbar-brand font-italic text-break ml-3">
            Estudio de Curvas
        </p>
    </div>
</nav>
<div id="mainOwner">
</div>

<template id="template">
    
    <div class="content_1">
        <div class="content_2">
        </div>
    </div>

    <div class="newContent"> </div>
</template>