
<div class="containerNormal background-gray">
   <h3>Estudio de Curvas</h3>
   <hr>
   <h3 class="p-3"><strong>CURVAS.</strong></h3>
   <div class="m-2 ml-2" style="display: flex; flex-direction: column; align-items: center;">
      <div class="d-flex flex-wrap shadow rounded mt-2 ml-2 mr-0 d-flex justify-content-center p-3"
         style="display: flex; flex-direction: wrap;">
         <div>
            <h3 class="text-justify p-1">
               CONVENCIÓN
            </h3>
            <p class="m-2 text-justify">
               Las curvas que se van a estudiar en este libro serán
               sólo aquellas que tienen no más de un punto en cada vertical. <br><br>
               Un ejemplo de curva que no sirve aparece en la figura: en punteado hay una vertical y esa vertical
               corta en más <br> de un punto (la corta en tres puntos).
            </p>
         </div>
         <div class="mt-2 w-100-500 d-flex justify-content-center">
            <div class="defBoard jxgbox short-board ml-2" data-board="board_2">
            </div>
         </div>
      </div> <br>

      <div class="defBoard short-board med-board-2 jxgbox" data-board="board_1" data-artifact="artifact_1"></div>

   </div>


   <div id="mainOwner">
   </div>
   <div id="grid" class="d-flex  flex-wrap justify-content-center">
   </div>

   <template id="template">
      <div class="content_1">
         <div class="content_2">
         </div>
      </div>
   </template>

   <p class="text-center m-2"> <strong>Conteste las preguntas haciendo referencia a los puntos señalados en el eje x,
         con
         las
         letras a,b,c,d y e.</strong></p>

   <div id="globalContainer" class="d-flex justify-content-center">
      <div id="oneContainer"></div><br>
   </div>
   <p class="text-center"><strong>Considere ahora todos los puntos del eje x para la cual la curva "tiene altura".
         (No
         solamente los marcados con letras).</strong></p>
   <div id="globalContainer" class="d-flex justify-content-center">
      <div id="oneContainer2"></div>
   </div>

   <!--templates-->
   <template id="tmp-SRP">
      <div id="artifacts" class="big4-board d-flex flex-column border-board-dark m-2 squares-div">

         <div class="big4-board defRoadBoard jxgbox w-100  mb-1 boardResp" data-board="board_0"
            data-artifact="artifact_1">

         </div>

         <div class="d-flex w-100 flex-wrap justify-content-center border border-dark rounded btn-all">
            <div class="d-flex flex-row">
               <div class="d-flex flex-column">
                  <div class="d-flex flex-wrap justify-content-center">

                     <button class="curve button-marg buttonTertiary buttonKey"
                        title="Crear curva con los puntos finales"></button>
                     <button class="pointClose button-marg buttonTertiary buttonKey"
                        title="Punto para la curva"></button>
                     <button class="btnAsymptotes button-marg buttonTertiary buttonKey" title="Asintota"></button>

                  </div>
                  <div class="d-flex flex-wrap">
                     <button class="help buttonSecundary button-marg  buttonKey" title="Ayuda"></button>
                     <button class="gear buttonSecundary button-marg  buttonKey"> </button>
                     <button class="infinite buttonSecundary button-marg  buttonKey"> </button>
                     <button class="back buttonSecundary button-marg  buttonKey" title="Retornar"></button>
                     <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
                     <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </template>
   <template id="tmp-config">
      <div
         class="centerFloat pr-1 pl-1 toggleDisplay divConfig d-flex flex-row justify-content-left  align-items-center">
         <div class="configTop">
            <h5 style="margin-top: 10px; border-bottom: solid 2px black;">Configuraciones</h5>
            <button class="btnClose closed buttonKey button-marg"> </button>
         </div>
         <ul>
            <li>
               <p> Holgura de la curva <input class="rangeConfig" min="0.0" max="1" step="0.1" ; orient="vertical"
                     type="range"> </p>
            </li>
            <li>
               <p> Color: <input class="colorConfig" type="color" name="" id=""> </p>
            </li>
         </ul>
      </div>
   </template>
   <template id="tmp-way">

      <div id="artifact-" class="etwArtifact" style="width: 700px; max-width: 950px;">

         <div class="etwArtifact__title"></div>
         <div class="etwArtifact__Board  etwBoard jxgbox" data-board="board_" data-artifact="artifact_">
         </div>

         <div class="etwArtifact__elements">
         </div>

         <div class="etwArtifact__btnContainer btn-all">
            <div>
               <button class="  help-btn button-marg buttonSecundary buttonKey d-none"></button>
               <button class=" reset button-marg buttonSecundary buttonKey"></button>
               <button class=" etwArtifact__btnValidate check button-marg buttonPrimary buttonKey"></button>
            </div>
         </div>

      </div>
   </template>
   <template id="globalTemplate">
      <div id="artifact-container"
         class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
         <div id="content" class="question__content">
         </div>
         <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
            <div class="d-flex flex-row">
               <div class="d-flex flex-wrap justify-content-start "></div>
               <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"
                  title="Reiniciar"></button>
               <button class="check button-marg buttonPrimary buttonKey question__footer__check"
                  title="Validar"></button>

            </div>
         </div>

      </div>

   </template>
   <template id="cardCol">
      <div class="col-6">

      </div>
   </template>
   <template id="templateSelect">
      <div class='' id="selectq">
         <div class="">
            <label for="opciones"></label>
         </div>
         <div class="">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:fit-content">
         </div>
         </select>
      </div>
   </template>
   <template id="templateCheck">

      <div class="" id="radioContainer">
         <div class="title ">
         </div>
         <div class="content  ">
         </div>
      </div>
   </template>
   <template id="templateInput">
      <div class="row">
         <div id="title" class=""></div>
         <div id="content" class=""></div>
      </div>

   </template>

   <div class="note">

   <p><b>Nota:</b> Los puntos suspensivos en los gráficos indican que la curva se prolonga "en la dirección que
      ellos señalan". A veces para indicar que el
      extremo de una curva no es parte de la curva se rematará la curva con un pequeño círculo del lado en que se
      quiere no incluir el extremo.
      (Ver el ejermplo 6, de la página que sigue). </p>
   </div>
