
<style>
  .parrafo{
     text-align: left;
    padding: 10px;
  }
  @media only screen and (max-width: 320px){
     .board-validation-curves{
        width: 250px !important;
     }

     .orderLarge input{
        max-height: 24px;

     }
     .parrafo{

    
    background-color: #f2f2f2;
    border-radius: .2rem;
     }
  }
</style>
<div class="containerNormal background-gray">

<h3>Estudio de Curvas</h3>
<hr>

<div class="mt-5"></div>
<div id="mainOwner" class="d-flex flex-wrap justify-content-center">
  
</div>

<div id="grid" class="containerNormal">
  
</div>

</div>
<template id="template">
  <div class="content_1">
     <div class="content_2">

     </div>
  </div>
</template>
