
<style>
   @media only screen and (max-width: 300px){
      .board-validation-curves,
      .short-board{
         width: 250px !important;
      }

      .orderLarge input{
         max-height: 24px;

      }
      p{
         text-align: center;
      }
   }
</style>


<div class="containerNormal background-gray">
<h3>Estudio de Curvas</h3>
<hr>

<div id="mainOwner">
</div>

<div id="grid" class="containerNormal"
   style="max-width: 800px; margin: 0 auto;">
</div>


</div>


<template id="template">
   <div class="content_1">
      <div class="content_2">
      </div>
   </div>
</template>


