<style>
    .parrafo {
        text-align: left;
        padding: 10px;
    }

    @media only screen and (max-width: 320px) {
        .board-validation-curves {
            width: 250px !important;
        }

        .orderLarge input {
            max-height: 24px;

        }

        .parrafo {


            background-color: #f2f2f2;
            border-radius: .2rem;
        }
    }
</style>
<div class="containerNormal background-gray">

    <h3>Estudio de Curvas</h3>
    <hr>
    <p class="note">
        <strong> <i>En los ejercicios que siguen la curva f debe ser conexa.</i></strong>
        Escriba al lado de los ejes, los números que necesite para que quede claro que la curva dibujada cumple las
        condiciones exigidas.
    </p>


    <div class="d-flex justify-content-center flex-column">

        <div id="mainOwner" class="d-flex flex-wrap justify-content-center">

        </div>

        <div id="grid" class="d-flex flex-wrap justify-content-center" style="max-width: 1200px; margin: 0;">

        </div>


    </div>
    <template id="template">
        <div class="content_1">
            <div class="content_2">

            </div>
        </div>
    </template>