<div class="containerNormal background-gray">
  <h3>Estudio de Curvas</h3>
  <hr />
  <div class="d-flex justify-content-center flex-column">
    <div id="mainOwner" class="d-flex flex-wrap justify-content-center"></div>

    <div
      id="grid"
      class="d-flex flex-wrap justify-content-center"
      style="max-width: 1200px; margin: 0"
    ></div>

    <template id="template">
      <div class="content_1">
        <div class="content_2"></div>
      </div>
    <div class="newContent"> </div>

    </template>
  </div>
</div>
