<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>artifacts</title>
  <link rel="stylesheet" href="../../../css/cap_1/artifact.css">
  <link rel="stylesheet" href="../../../css/mathlive.css">
  <link rel="stylesheet" href="../../../css/cap_1/styles.css">
  <!-- <link rel="stylesheet" href="../../../css/generic/styles.css"> -->
</head>

<body>

  <div id="nodo">
<!-- <div class="text" id="lexico"><h2>lexico</h2></div>
<div class="text" id="clase"><h2>clase</h2></div>
<div class="text" id="tarea"><h2>tarea</h2></div> -->
  </div>

  <template id="tmp1">
    <div class="mdlo1">
      <math-field class="mdrigth input_1" ></math-field>
      <math-field class="mdleft input_2" > </math-field>
    </div>
  </template>

  <template id="tmp2">
    <div class="mdlo2">
      <math-field class="rctg1 input_1" ></math-field>
      <div class="flechas">
        <div class="arrowDown">🡣</div>
        <div class="arrowUp md">🡡</div>
      </div>
      <math-field class="rctg2 input_2" ></math-field>
    </div>
  </template>

  <script src="../../../libraries/jsxgraphcore.js"></script>
  <script src="../../../class/engines/abstract/BaseEngine.js"></script>
  <script src="../../../class/engines/abstract/baseBoards.js"></script>
  <script src="../../../class/engines/cap_1/VerticalDiagram.js"></script>
  <script src="../../../class/generictClass/Artifact.js"></script>
  <script src="../../../class/generictClass/CreateView.js"></script>

  <script src="../../../definitions/cap_1/pag_54.js"></script>

  <script src="../../../libraries/computeEngine.js"></script>
  <script src="../../../libraries/mathLive.js"></script>

</body>

</html>