<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../../css/cap_1/mage.css">
  <link rel="stylesheet" href="../../../css/generic/styles.css">
  <link rel="stylesheet" href="../../../css/mathlive.css" />

  <title>Diagramas Binarios </title>
</head>

<body>
  <div class="Heading">
    <header>Diagramas Binarios</header>
    <hr style="border: solid 1px; color:lightGray;">
  </div>
  <h2 class="text">léxico</h2>
    <h2 class="text">clase</h2>
  <div class="main">

  </div>
  <h2 class="text">tarea</h2>




  <!--<input class='inputCuadrado'></input>---->
  <template id="tmp">
    <div class="cuadrado">
      <div class="board"></div>
      <div class="divControllerButton all-btn">
        <button class="reset buttonSecundary button-marg buttonKey"></button>
        <button class="check buttonPrimary button-marg buttonKey"></button>
      </div>
    </div>
  </template>

  <template id="tmp2">
    <div class="cuadrado2">

      <div class="board"></div>
      <!-- <div class="board2"></div> -->
      <p class="texto1">¿Dio el mismo resultado? Si <input type="radio" name="opcion" value="si"> No <input
          name="opcion" type="radio" value="no"></button> </p>
      <p class="texto1">Entonces: <input class="textoU" type="text"></p>
      <p class="texto1">La Operacion <input class="textoU" type="text"></p>

      <div class="divControllerButton all-btn">
        <button class="reset buttonSecundary button-marg buttonKey"></button>
        <button class="check buttonPrimary button-marg buttonKey"></button>
      </div>
    </div>

  </template>
  <script src="../../../libraries/jsxgraphcore.js"></script>
  <script src="../../../class/engines/abstract/BaseEngine.js"></script>
    <script src="../../../class/engines/abstract/baseBoards.js"></script>
    <script src="../../../class/engines/cap_1/diagramas.js"></script>
    <script src="../../../libraries/computeEngine.js"></script>
    <script src="../../../libraries/mathLive.js"></script>
    <script src="../../../class/generictClass/Artifact.js"></script>
    <script src="../../../class/generictClass/CreateView.js"></script>
    <script src="../../../definitions/cap_1/pag_6.js"></script>
</body>

</html>