<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../../../css/jsxgraph.css" />
  <link rel="stylesheet" href="../../../css/mathlive.css">

  <link rel="stylesheet" href="../../../css/cap_1/styles.css" />
  <link rel="stylesheet" href="../../../css/generic/display.css" />
  <link rel="stylesheet" href="../../../css/generic/styles.css" />

</head>

<body>
  <!-- contenedor base de toda la pagina -->
  <div class="containerNormal background-gray">
    <nav class="mb-5 border-bottom border-dark">
      <div class="d-flex justify-content-between">
        <p class="navbar-brand font-italic text-break">
          <!-- el titulo de la pagina -->
          Numero y variable
        </p>
      </div>
    </nav>



    <!-- en este ejemplo hay dos posibles padres  -->
    <div id="main" class="mainContainer "></div>
    <h1> Esta antes o despues </h1>
    <div id="main_2" class="main_2"></div>


    <script src="../../../libraries/jsxgraphcore.js"></script>
    <!-- class  abstractas-->
    <script src="../../../class/engines/abstract/BaseEngine.js"></script>
    <script src="../../../class/engines/abstract/baseBoards.js"></script>
    <!-- validation -->
    <script src="../../../class/validation/cap_1/validateInterval.js"></script>
    <!-- class engine -->
    <script src="../../../class/engines/cap_1/horizontalSegment.js"></script>
    <!-- librerias -->
    <script src="../../../libraries/computeEngine.js"></script>
    <script src="../../../libraries/mathLive.js"></script>
    <!-- class generica artifact -->
    <script src="../../../class/generictClass/Artifact.js"></script>
    <!-- clase generica para generar las vistas -->
    <script src="../../../class/generictClass/CreateView.js"></script>
    <!-- definicion que se usa en la pagina -->
    <script src="../../../definitions/cap_1/pag_1.js"></script>


</body>

</html>