<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>artifacts</title>
  <link rel="stylesheet" href="../../../css/cap_1/artifact.css">
  <link rel="stylesheet" href="../../../css/mathlive.css">
</head>

<body>
  <div id="nodo">

  </div>

<template id="temp"> 
  <div class="container">
    <div class="artifact1" id="artifact1">
      <math-field class="up"></math-field>
      <math-field class="down"></math-field>
      <div class="botons">
        <button class="reset" id="reset1">↻</button>
        <button class="check" id="check">✓</button>
      </div>
    </div>
  </template>
  <template id="tmp1">
<div class="mdlo1">
    <math-field class="mdrigth" ></math-field>
    <math-field class="mdleft"disabled=""> </math-field>
</div>
  </template>
  <template id="tmp2">
    <div class="mdlo2">
      <math-field class="rctg1"></math-field>
    <div class="flechas">
      <div class="arrowDown">🡣</div>
      <div class="arrowUp">🡡</div>
    </div>
    <math-field class="rctg2"></math-field>
    </div>
  </template>

    <script src="../../../libraries/jsxgraphcore.js"></script>
    <script src="../../../class/engines/abstract/BaseEngine.js"></script>
    <script src="../../../class/engines/abstract/baseBoards.js"></script>
    <script src="../../../class/engines/cap_1/artifact.js"></script>
    <script src="../../../libraries/computeEngine.js"></script>
    <script src="../../../libraries/mathLive.js"></script>
    <script src="../../../class/generictClass/Artifact.js"></script>
    <script src="../../../class/generictClass/CreateView.js"></script>
</body>

</html>