<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../../../css/cap_1/styles.css" />
  <link rel="stylesheet" href="../../../css/generic/styles.css">

  
  
</head>

<body>
  <div class="containerNormal background-gray">
    <nav class="mb-5 border-bottom border-dark">
      <div class="d-flex justify-content-between">
        <h1 class="navbar-brand font-italic text-break headerText">
          operaciones con tablas
        </h1>
      </div>
    </nav>

    <!-- <template id="tmpTabla">
      <div class="contenedorTabla">
          <table class="tabla">
              <thead id="tHead">
                  
              </thead>
              <tbody id="tBody"> 
                  
              </tbody>
          </table>
          <div class="contendorButtonTabla">
            <button type="button" class="styleBtn back"></button>

              <button type="button" class="btnR reset styleBtn" ></button>
              <button type="button" class="btnV check styleBtn" ></button>
          </div>
      </div>
    </template> -->
    <h2 class="text">léxico</h2>
    <h2 class="text">clase</h2>

    <div class="main"></div>
    
    <h2 class="text">tarea</h2>
    <div class="main_2"></div>

    <p class="footer">17</p>
    
    
    <script src="../../../libraries/mathLive.js"></script>
    <script src="../../../libraries/computeEngine.js"></script>
        <script src="../../../libraries/jsxgraphcore.js"></script>
        <script src="../../../class/engines/abstract/BaseEngine.js"></script>
        <script src="../../../class/engines/abstract/baseBoards.js"></script>

        <script src="../../../class/engines/cap_1/engineTable.js"></script>
        <script src="../../../class/validation/cap_1/TableValidate.js"></script>

        
        
        <script src="../../../class/generictClass/Artifact.js"></script>
        
        
        <script src="../../../class/generictClass/CreateView.js"></script>
        
        <script src="../../../definitions/cap_1/pag_17.js"></script>


</body>

</html>