body{
    margin:0;
    padding: 0;
    width:100% ;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:30px;
    align-items: center;
}
.container{
    width: 270px;


}
#nodo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    
}
.mdlo1 {
    width: 100%;
    grid-column-start:1;
    grid-column-end:4;
    /* grid-row-start: 2; grid-row-end: 3; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.mdlo2{
    width: 100%;
    grid-column-start:1;
    grid-column-end:4;
    /* grid-row-start: 3; grid-row-end: 4; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.artifact{
    display:grid;
    grid-template-columns: 1fr 20px 1fr;
    row-gap:6px;
    width: 254px;
    height: max-content;
    background: #fff;
    border: 3px solid #000;
    border-radius:15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    margin:0 auto;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.mdleft{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4rem;
}
.mdrigth{  
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4rem;
}
.up{
    margin: 6px;
    grid-column-start: 1;
    grid-column-end: 4;                               
    border: 1px solid black ;
    width: 160px;
    height: 40px;
    border-radius: 5px;
}
.flechas{
    display: flex;
    place-content: center;
}   
.down{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:7;
    grid-row-end:8;
    border: 1px solid black ;
    border-radius: 5px  ;
    width: 140px;
    height: 40px;
    margin: 6px;

}
.rctg1{
    width:70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.rctg2 {
    width:70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.rctg3 {
    width:70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.rctg4 {
    width:70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.2rem;                                       
}
.botons{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:8;
    grid-row-end:9;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid black;
}
.check{
    color: #fff;
    font-weight: bolder;
    font-size: 26px;
    width: 40px;
    height: 40px;
    background-color: #006ebb;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px #999;
    margin: 4px;
}
.return{
        color: #000000;
        font-weight: bolder;
        font-size: 26px;
        width: 40px;
        height: 40px;
        background-color: #8f8f8f;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px #999;
        margin: 4px;
    }

.reset{
    color: black;
    font-weight: bolder;
    font-size: 26px;
    width: 40px;
    height: 40px;
    background-color: #a4abb1;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px #999;
    margin: 4px;
}
.arrowUp{
    color: #070707;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
.arrowDown {
    color: #070707;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin-top: 4px;
    margin-right: 30px;
}