.cuadrado{
    width: 300px;
    height: 370px;
    background: #fdfcfc;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 185px;
    margin-right: 100px;
    display:inline-block;
    border: 2px solid rgb(50, 160, 233) ;
    top: auto;
    border-radius:5px;
    
  }
  .cuadrado2{
    width: 600px;
    height: 370px;
    background: #fdfcfc;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 185px;
    margin-right: 100px;
    display:inline-block;
    border: 2px solid rgb(50, 160, 233) ;
    top: auto;
    border-radius:5px;
    
  }
  
  @media(max-width: 400px) {
    .board {
      height: 200px;
      width: 140px;
    }
    .board2{
      width: 200px;
      height: 140px;
    }
    .board3{
      width: 180px;
      height: 120px;
    }
    .board4{
      width: 180px;
      height: 120px;
    }
  }
  .Heading{
      width: 100%;
      font-weight: bold;
      color: gray;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 20px;
      margin-right: 30px;
  
  }
  .inputClass {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
  }
  .inputCuadrado{
    border-radius: 5%;
    width: 30px;
    height: 30px;
    background-color: white;
  }
  /*Board*/
  .board {
    width: 300px;
    height: 300px;
    border: 2px rgb(43, 101, 226) solid;
    border-radius: 10px;
  }
  .board2 {
    width: 300px;
    height: 300px;
    border: 2px rgb(43, 101, 226) solid;
    border-radius: 10px;
  }
  .board3 {
    width: 300px;
    height: 300px;
    border: 2px rgb(43, 101, 226)  solid;
    border-radius: 10px;
  }
  
  .board4 {
    width: 300px;
    height: 300px;
    border: 2px rgb(43, 101, 226)  solid;
    border-radius: 10px;
  }
  /*Botones*/
  .divControllerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
  }
  .buttonKey {
    cursor: pointer;
    outline: none;
    color: #fff;
    box-shadow: 0 3px #999;
  }
  
  .buttonSecundary {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #a4abb1;
    border: none;
    border-radius: 0.25rem;
  }
  .reset::after {
    color: black;
    content: "\021bb";
    font-weight: bolder;
    font-size: 26px;
  }
  .check::after {
    display: inline-block;
    color: #fff;
    content: " ✓";
    font-weight: bolder;
    font-size: 26px;
  }
  .buttonPrimary {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #006ebb;
    border: none;
    border-radius: 0.25rem;
  }